<div *ngIf="task !== undefined">
  <h4 style="display: inline;">{{ task.taskDto.name }}</h4>
  <p style="display: inline;"> ({{ task.taskDto.id }})</p>
  <button style="margin-left: 4rem;" mat-raised-button color="danger" (click)="onClosePanel()"></button>
  <div style="margin-top: 1rem; margin-bottom: 1rem;" [ngSwitch]="this.task.taskTipus">
    <app-megjelenes-idoponton *ngSwitchCase="TaskTipus.TASK_MEGJELENES_IDOPONTON"></app-megjelenes-idoponton>
    <app-beteg-ertesitese [taskPayload]="task" *ngSwitchCase="TaskTipus.TASK_BETEG_ERTESITESE"></app-beteg-ertesitese>
    <app-vizsgalat [taskPayload]="task" *ngSwitchCase="TaskTipus.TASK_VIZSGALAT"></app-vizsgalat>
    <app-rontgen *ngSwitchCase="TaskTipus.TASK_RONTGEN"></app-rontgen>
    <app-felulvizsgalat [taskPayload]="task" *ngSwitchCase="TaskTipus.TASK_FELULVIZSGALAT"></app-felulvizsgalat>
    <app-szakorvosi-vizsgalat [taskPayload]="task" *ngSwitchCase="TaskTipus.TASK_SZAKORVOSI_VIZSGALAT"></app-szakorvosi-vizsgalat>
    <app-fogszabalyzo-felrakasa *ngSwitchCase="TaskTipus.TASK_FOGSZABALYZO_FELRAKASA"></app-fogszabalyzo-felrakasa>
    <div *ngSwitchDefault>Ismeretlen task</div>
  </div>
  <button mat-raised-button color="accent" (click)="onCompleteTask()">
    Befejez
  </button>
</div>