<mat-grid-list cols="3">
  <mat-grid-tile [colspan]="1">
    <div style="width: 100%" fxLayout="column">
      <button style="width: fit-content" mat-button (click)="onRefreshTasks()">
        <mat-icon fontIcon="refresh"></mat-icon>
      </button>
      <mat-selection-list
        id="task-list"
        (selectionChange)="onSelectionChanged($event)"
        #tasklist
        [multiple]="false"
      >
        <mat-list-option *ngFor="let task of tasks" [value]="task">
          {{ task.taskDto.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <app-task-detail
      style="width: 100%"
      [task]="selectedTask"
      (completeTask)="onTaskComplete()"
      (closePanel)="onTaskPanelClosed()"
    ></app-task-detail>
  </mat-grid-tile>
</mat-grid-list>
