<mat-grid-list cols="3">
  <mat-grid-tile [colspan]="1">
    <mat-selection-list
      (selectionChange)="onSelectionChanged($event)"
      #tasklist
      style="width: 100%"
      [multiple]="false"
    >
      <mat-list-option *ngFor="let task of tasks" [value]="task.taskDto.id">
        {{ task.taskDto.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <app-task-detail
      style="width: 100%"
      [task]="selectedTask"
    ></app-task-detail>
  </mat-grid-tile>
</mat-grid-list>
